{% extends "daily_thoughts/base.html" %}
{% load static %}

{% block content %}
            <section class="flex row wrap thoughts results">
                <div class="flex row wrap search results info thought header shadow">
                    <div class="results info box header shadow">
                        <span class="shown results" id="shown_results">6</span> of <span class="total results" id="total_results">12</span> results
                    </div>
                </div>
                <ul class="flex row wrap search results content">
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                    <li class="flex row wrap video search result header shadow">
                        <div class="flex column wrap image info">
                            <img src="../../static/uploads/profiles/videos/video_500121.jpg" alt="user picture">
                        </div>
                        <div class="flex column wrap video info">
                            <div class="flex row wrap header name info">
                                <h3>One ring to rule them all. One ring to find them. One Ring to bring them all and in the darkness bind them!</h3>
                            </div>
                            <div class="flex row wrap tags info">
                                <span class="video main teal tag">#the ring</span>
                            </div>
                            <div class="flex row wrap views info">
                                <span class="time info">Shared on <time datetime="2016-11-14">14.11.2016</time></span>
                                <span class="video views tag">121,3k</span>
                                <img class="views icon" src="../../static/img/icons/eye_icon.svg" alt="eye">
                            </div>
                            <div class="flex row wrap link info">
                                <span class="user info">By <span class="username">Jan</span></span>
                                <a class="about link" href="video_id.html">Hear what it's about</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="flex column wrap search results index">
                    <div class="flex row wrap result index buttons">
                        <input class="first text" type="button" value="Last">
                        <input class="middle number" type="button" value="1">
                        <input class="middle number" type="button" value="2">
                        <input class="last text" type="button" value="Next">
                    </div>
                </div>
            </section>
{% endblock %}